
  <div class="row">
    <div class="col">
        <app-header></app-header>
    </div>
    
  </div>
  <hr>
  <div class="row">

          <div class="col">
            <router-outlet></router-outlet>
          </div>
          
        </div>
        <hr>
        <div class="row">

                <div class="col">
                    <app-footer></app-footer>
                </div>
                
              </div>
  <!-- <app-signup></app-signup>
  <app-login></app-login>
  <app-add-todo></app-add-todo> -->
  
