<div>
    <form [formGroup]="addForm" novalidate class="form">
        <div class="form-group">
            <input type="text" formControlName="todo" autocomplete="" placeholder="Todo" class="form-control">
        </div>
        <div class="alert alert-danger" *ngIf="addForm.get('todo').hasError('required') && addForm.get('todo').touched">
            cannot be empty
          </div>
       <button class="btn btn-success btn-lg btn-block" (click)="onSubmit()">Add Todo</button>
    </form>
</div>