
<div class="centered-content">
    <div class="todo-container">
        <div class="sidebar">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">
                <a href="" class="list-menu-item is-active">
                    <p>list #1</p>
                </a>
                <a href="" class="list-menu-item">
                        <p>list #1</p>
                    </a>
                <a href="" class="list-menu-item">
                        <p>list #1</p>
                    </a>
                    <a href="" class="list-menu-item">
                            <p>list #1</p>
                        </a>
            </div>

            <button routerLink="/add-todo" class="button is-primary">+ New List</button>

        </div>
        <div class="todo-list-container">
            <h1 class="title has-text-primary">
                Todo List
            </h1>

            <!-- todo elements -->
            <div class="todo ">
                <p>I have todo todo todo</p>
            </div>
            <div class="todo ">
                <p>I have todo todo todo</p>
            </div>
            <div class="todo ">
                <p>I have todo todo todo</p>
            </div>
            <div class="todo">
                <p>I have todo todo todo</p>
            </div>

        </div>

    </div>
</div>
